<p>editar-products works!</p>
<div class="card">
  <div class="card-header"> <h2>Registrar Producto</h2></div>

    <div class="card-body">

      <form [formGroup]="formEditarProductos" (ngSubmit)="editarProducto()" ngNativeValidate>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label >Product Name</label>
            <input type="text" class="form-control" placeholder="productName" 
              formControlName ="productName" required maxlength="70">
            <div *ngFor="let e of err.name">
              <label
                class="text text-danger"
                *ngIf="(formEditarProductos.get('productName').errors?.['required'] || formEditarProductos.get('productName').errors?.['minlength']) 
                      && (formEditarProductos.get('productName').touched || formEditarProductos.get('productName').dirty)"
              >
              <div  *ngIf="formEditarProductos.get('productName').errors?.[e.type]">{{e.mensaje}}</div> 
              </label>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label >unitPrice</label>
            <input type="text" class="form-control" placeholder="unitPrice"  maxlength="10"
              formControlName ="unitPrice" required>
            <div *ngFor="let e of err.units">
              <label
                class="text text-danger"
                *ngIf="(formEditarProductos.get('unitPrice').errors?.['required'] || formEditarProductos.get('unitPrice').errors?.['pattern']) 
                      && (formEditarProductos.get('unitPrice').touched) " >
                {{ e.mensaje }}
              </label>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label >Stock</label>
            <input type="text" class="form-control" placeholder="unitsInStock" formControlName="unitsInStock" required>
            <div *ngFor="let e of err.units">
              <label
                class="text text-danger"
                *ngIf="(formEditarProductos.get('unitsInStock').errors?.['required'] || formEditarProductos.get('unitsInStock').errors?.['pattern']) 
                      && (formEditarProductos.get('unitsInStock').touched ) ">
                {{ e.mensaje }}
              </label>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label >QuantityPerUnit</label>
            <input type="text" class="form-control" placeholder="QuantityPerUnit" formControlName="quantityPerUnit" required>
            <div *ngFor="let e of err.name">
              <label
                class="text text-danger"
                *ngIf="(formEditarProductos.get('quantityPerUnit').errors?.['required'] || formEditarProductos.get('quantityPerUnit').errors?.['minlength']) 
                      && formEditarProductos.get('quantityPerUnit').touched"
              >
                {{ e.mensaje }}
              </label>
            </div>
          </div>
        </div>

        <div class="form-row">

          <div class="form-group col-md-3">
            <label> Category select</label>
            <select class="form-control" formControlName="categorias" required>
              <option selected>Select one</option>
              <option  *ngFor="let c of categorias" value="{{c.categoryID}}"> 
                {{c.categoryName}}
              </option>
            </select>

            <div *ngFor="let e of err.fk">
              <label
                class="text text-danger"
                *ngIf="formEditarProductos.get('categorias').errors?.['invalid']  
                      && (formEditarProductos.get('categorias').touched ||  formEditarProductos.get('categorias').dirty)"
              >
                {{ e.mensaje }}
              </label>
            </div>
          </div>

          <div class="form-group col-md-3">

            <label> Category select</label>
            <select class="form-control" formControlName="proveedores" required>
              <option selected>Select one</option>
              <option  *ngFor="let p of proveedores" value="{{p.supplierId}}"> 
                {{p.companyName}}
              </option>
            </select>
            <div *ngFor="let e of err.fk">
              <label
                class="text text-danger"
                *ngIf="formEditarProductos.get('proveedores').errors?.['invalid']  
                      && (formEditarProductos.get('proveedores').touched ||  formEditarProductos.get('proveedores').dirty)"
              >
                {{ e.mensaje }}
              </label>
            </div>
          </div>
          <div class="form-group col-md-3">

              <label class="form-check-label">Descontinuado</label>
              <div class="form-check" style="height: 1.5rem;">
                <input class="form-check-input" type="checkbox"  formControlName="discontinued" style="height: 1.5rem;" >
              </div>
          </div>

        </div>
          
        <button type="submit" [disabled]="formEditarProductos.invalid"
          class="btn btn-primary">Registrar Cambio</button>
      </form>

    </div>
</div>