<div class="card px-4 py-3 mb-0">
    <h5>Loader Directive</h5>
    <div
        appLoader
        [showLoader]="toggleLoader"
        spinnerSize="100px"
        overlayColor="rgb(0, 0, 0, 0.5)"
        class="my-auto"
    >
        <p>
            Puedes llamar desde <u>cualquier lugar de la aplicación</u> el servicio o la directiva de Loader.
        </p>
    </div>
    <div>
        <button class="btn btn-primary" (click)="toggleLoader = !toggleLoader"> Loader por área </button>
        <button class="btn btn-primary" (click)="showFullLoader()"> Loader global </button>
    </div>
</div>