<a routerLink="registrar" class="btn btn-info">Nuevo Producto</a>
<div class="card">
    <div class="card-header"><h2>Products</h2></div>
    <table class="table table-border table-responsive">
        <thead class="thead-light">
            <th>Id</th>
            <th>Product Name</th>
            <th>Quantity Per Unit</th>
            <th>Unit Price</th>
            <th>Stock</th>
            <th>Units On Order</th>
            <th>Reorder Level</th>
            <th>Discontinued</th>
            <th>Category</th>
            <th>Spplier</th>
            <th>Actions</th>
            <th>Order</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of productos">
                <td>{{p.productId}}</td>
                <td>{{p.productName}}</td>
                <td>{{p.quantityPerUnit}}</td>
                <td>{{p.unitPrice}}</td>
                <td>{{p.unitsInStock}}</td>
                <td>{{p.unitsOnOrder}}</td>
                <td>{{p.reorderLevel}}</td>
                <td *ngIf="p.discontinued == 1;">YES</td>
                <td *ngIf="p.discontinued  == 0 ;">NO</td>
                <td >{{p.nombreCat}}</td>
                <td>{{p.nombreProve}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a routerLink="editar/{{p.productId}}" class="btn btn-warning"><i class="cil-pencil"></i></a>
                      <a class="btn btn-danger" (click)="eliminar(p.productId)"><i class="cil-trash"></i></a>
                    </div>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example" *ngIf="!p.discontinued">
                          <a routerLink="pedido/{{p.productId}}" class="btn btn-primary">Order</a>
                      </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>
