<a class="btn btn-primary" routerLink="/employees">Back</a><br />
<div class="card">
  <div class="card-header">
    <H4>Registrar Empleados</H4>
  </div>
  <div class="card-body">
    <form
      (ngSubmit)="enviarEmployee()"
      [formGroup]="empleados"
      ngNativeValidate
      autocomplete="off"
    >
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>First name</label>
          <input
            type="text"
            class="form-control"
            placeholder="First name"
            required
            formControlName="firstName"
            maxlength="40"
          />
          <div *ngFor="let e of err.nombre">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('firstName').errors?.['required'] || empleados.get('firstName').errors?.['minlength']) 
                    && empleados.get('firstName').touched"
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Last name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Last name"
            required
            formControlName="lastName"
            maxlength="40"
          />
          <div *ngFor="let e of err.nombre">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('lastName').errors?.['required'] || empleados.get('lastName').errors?.['minlength']) 
                    && empleados.get('lastName').touched"
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Address</label>
          <input
            type="text"
            class="form-control"
            placeholder="Address"
            required
            formControlName="address"
            maxlength="70"
          />
          <div *ngFor="let e of err.address">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('address').errors?.['required'] || empleados.get('address').errors?.['minlength']) 
                        && empleados.get('address').touched"
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Country</label>
          <input
            type="text"
            class="form-control"
            placeholder="Country"
            required
            formControlName="country"
            maxlength="15"
          />
          <div *ngFor="let e of err.address">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('country').errors?.['required'] || empleados.get('country').errors?.['minlength']) 
                        && empleados.get('country').touched"
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputCity">City</label>
          <input
            type="text"
            class="form-control"
            placeholder="City"
            required
            formControlName="city"
            maxlength="15"
          />
          <div *ngFor="let e of err.address">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('city').errors?.['required'] || empleados.get('city').errors?.['minlength']) 
                    && empleados.get('city').touched"
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Region</label>
          <input
            type="text"
            class="form-control"
            placeholder="Region"
            required
            formControlName="region"
            maxlength="15"
          />
          <div *ngFor="let e of err.address">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('region').errors?.['required'] || empleados.get('region').errors?.['minlength']) 
                    && empleados.get('region').touched"
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">postalCode</label>
          <input
            type="text"
            class="form-control"
            placeholder="Zip Code"
            required
            formControlName="postalCode"
            maxlength="5"
            pattern="^[0-9]*$"
          />
          <div *ngFor="let e of err.postal">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('postalCode').errors?.['required'] || empleados.get('postalCode').errors?.['pattern']) 
                    && (empleados.get('postalCode').touched || empleados.get('postalCode').dirty) "
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputCity">HomePhone</label>
          <input
            type="tel"
            class="form-control"
            placeholder="HomePhone"
            required
            formControlName="homePhone"
            maxlength="10"
            pattern="^[0-9]*$"
          />
          <div *ngFor="let e of err.homePhone">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('homePhone').errors?.['required'] || empleados.get('homePhone').errors?.['pattern']) 
                    && (empleados.get('homePhone').touched || empleados.get('homePhone').dirty) "
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="inputState">Extension</label>
          <input
            type="tel"
            class="form-control"
            placeholder="Extension"
            required
            formControlName="extension"
            maxlength="5"
            pattern="^[0-9]*$"
          />
          <div *ngFor="let e of err.postal">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('extension').errors?.['required'] || empleados.get('extension').errors?.['pattern']) 
                    && (empleados.get('extension').touched || empleados.get('extension').dirty) "
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputZip">BirthDate</label>
          <input
            type="date"
            class="form-control"
            required
            formControlName="birthDate"
            min="1900-01-01"
            max="3000-12-31"
          />
          <div *ngFor="let e of err.fechas">
            <label
              class="text text-danger"
              *ngIf="empleados.get('birthDate').errors?.['required'] &&
               (empleados.get('birthDate').touched || empleados.get('birthDate').dirty) "
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label for="inputZip">HireDate</label>
          <input
            type="date"
            class="form-control"
            required
            formControlName="hireDate"
            min="1900-01-01"
            max="3000-12-31"
          />
          <div *ngFor="let e of err.fechas">
            <label
              class="text text-danger"
              *ngIf="empleados.get('hireDate').errors?.['required'] &&
               (empleados.get('hireDate').touched || empleados.get('hireDate').dirty) "
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Title"
            formControlName="title"
            maxlength="60"
          />
          <div *ngFor="let e of err.notas">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('title').errors?.['required'] || empleados.get('title').errors?.['minlength'] || 
              empleados.get('title').errors?.['maxlength']) && empleados.get('title').touched"
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label>Title Of Courtesy</label>
          <input
            type="text"
            class="form-control"
            placeholder="Title Of Courtesy"
            required
            formControlName="titleOfCourtesy"
            maxlength="10"
          />
          <div *ngFor="let e of err.fechas">
            <label
              class="text text-danger"
              *ngIf="empleados.get('titleOfCourtesy').errors?.['required'] &&
               (empleados.get('titleOfCourtesy').touched || empleados.get('titleOfCourtesy').dirty) "
            >
              {{ e.mensaje }}
            </label>
          </div>

        </div>
        <div class="form-group col-md-4">
          <label>Notes</label>
          <input
            type="text"
            class="form-control"
            placeholder="Notes"
            formControlName="notes"
            maxlength="60"
            required
          />
          <div *ngFor="let e of err.notas">
            <label
              class="text text-danger"
              *ngIf="(empleados.get('notes').errors?.['required'] || empleados.get('notes').errors?.['minlength'] || 
              empleados.get('notes').errors?.['maxlength']) && empleados.get('notes').touched"
            >
              {{ e.mensaje }}
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Photo</label>
          <input
            type="file"
            class="form-control"
            accept="image/png,image/jpeg"
            formControlName="photo"
          />
        </div>
        <div class="form-group col-md-4">
          <label>ReportsTo</label>
          <select formControlName="reportsTo" class="form-control">
            <option selected value="">None</option>
            <option *ngFor="let s of select" value="{{ s.employeeID }}">
              {{ s.firstName + " " + s.lastName }}
            </option>
          </select>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="empleados.invalid"
      >
        Save Employee
      </button>
    </form>
  </div>
</div>
