<section class="text-center">
    <p style="font-size: 1.2em;">
        Dejamos a tu disposición recursos con
        <a
            target="_blank" rel="noreferrer"
            href="https://sites.google.com/coppel.com/developers/frameworks/webclient/dependencias?authuser=0#h.582gxt8uyv48"
        >
            bajo riesgo de ser abandonados&nbsp;
        </a>
        listos para su implementación
    </p>
    <article id="resources" class="mt-4">
        <!-- Core UI Icons -->
        <div class="card px-4 py-3">
            <img src="https://avatars.githubusercontent.com/u/36859861?s=200&v=4" alt="Core UI Icons">
            <h5>
                Core UI Icons
            </h5>
            <div class="my-auto py-3">
                <a target="_blank" rel="noreferrer" href="https://coreui.io/icons/all/">Catálogo Core UI Icons</a>
            </div>
            <p>
                Se recomienda su uso en la plantilla para
                <br>
                <strong>Iconos</strong>
            </p>
        </div>
        <!-- Ngx Bootstrap -->
        <div class="card px-4 py-3">
            <img src="https://valor-software.com/ngx-bootstrap/assets/images/logos/ngx-bootstrap-logo.svg" alt="Ngx Bootstrap">
            <h5>
                Ngx Bootstrap - Bootstrap 4
                <br>
            </h5>
            Valor Software
            <div class="my-auto py-3">
                <a target="_blank" rel="noreferrer" href="https://www.youtube.com/watch?v=MfMX3ofgDPo">Tutorial
                    ngx-boostrap</a>
                <br>
                <a target="_blank" rel="noreferrer"
                    href="https://valor-software.com/ngx-bootstrap/#/components">Catálogo ngx-boostrap</a>
                <br>
                <a target="_blank" rel="noreferrer"
                    href="https://www.npmjs.com/package/ngx-bootstrap#usage--demo">Paquete ngx-boostrap</a>
                <br>
                <a target="_blank" rel="noreferrer"
                    href="https://getbootstrap.com/docs/4.0/utilities/spacing/">Bootstrap 4</a>
            </div>
            <p>
                Sugerido en la plantilla para
                <br>
                <strong>Elementos Visuales</strong>
                <br>
            </p>
        </div>
        <!-- Luxon -->
        <div class="card px-4 py-3">
            <img src="https://avatars.githubusercontent.com/u/36859861?s=200&v=4" alt="Core UI Icons">
            <h5>
                Luxon
            </h5>
            <div class="my-auto py-3">
                <a target="_blank" rel="noreferrer" href="https://moment.github.io/luxon/#/tour">Tour</a>
            </div>
            <div class="my-auto py-3">
                <a target="_blank" rel="noreferrer" href="https://moment.github.io/luxon/#/moment">Diferencias con Moment</a>
            </div>
            <p>
                Se recomienda su uso en la plantilla para
                <br>
                <strong>Manejo de Fechas</strong>
            </p>
        </div>
    </article>
    <p style="font-size: 1.2em;">
        Dejamos a tu elección alguno de los paquetes funcionales con una guía para su implementación
    </p>
    <article id="resources" class="mt-4">
        <!-- PrimeNG -->
        <div class="card px-4 py-3">
            <img src="https://www.primefaces.org/primeng/assets/showcase/images/primeng-logo-dark.svg" alt="PrimeNG">
            <h5>
                PrimeNG
                <br>
            </h5>
            PrimeTek Informatics
            <div class="my-auto py-3">
                <a
                    target="_blank" rel="noreferrer"
                    href="https://www.primefaces.org/primeng/setup"
                >
                    Instalación PrimeNG
                </a>
                <br>
                <a
                    target="_blank" rel="noreferrer"
                    href="https://www.primefaces.org/primeng/"
                >
                    Catálogo PrimeNG
                </a>
                <br>
                <a
                    target="_blank" rel="noreferrer"
                    href="https://youtu.be/pkOx7bSBQsg?t=250"
                >
                    Tutorial PrimeNG
                </a>
                <br>
                <a
                    target="_blank" rel="noreferrer"
                    href="https://www.primefaces.org/primeng/icons"
                >
                    PrimeNG Icons
                </a>
            </div>
            <p>
                Sugerido en la plantilla para
                <br>
                <strong>Componentes Reactivos</strong>, <strong>Iconos</strong>
            </p>
        </div>
        <!-- Angular Material -->
        <div class="card px-4 py-3">
            <img src="https://material.angular.io/assets/img/angular-material-logo.svg" alt="Angular Material">
            <h5>
                Angular Material - Material Design
                <br>
            </h5>
            Google
            <div class="my-auto py-3">
                <a
                    target="_blank" rel="noreferrer"
                    href="https://material.angular.io/guide/getting-started#install-angular-material"
                >
                    Instalación Angular Material
                </a>
                <br>
                <a
                    target="_blank" rel="noreferrer"
                    href="https://material.angular.io/components/table/overview"
                >
                    Catálogo Angular Material
                </a>
                <br>
                <a
                    target="_blank" rel="noreferrer"
                    href="https://www.youtube.com/watch?v=ZhcYPXLGr_E&list=PLC3y8-rFHvwilEuCqFGTL5Gt5U6deIrsU&index=29"
                >
                    Tutorial Angular Material
                </a>
                <br>
                <a
                    target="_blank" rel="noreferrer"
                    href="https://materialdesignicons.com/"
                >
                    Material Design Icons
                </a>
            </div>
            <p>
                Sugerido en la plantilla para
                <br>
                <strong>Componentes Reactivos</strong>, <strong>Iconos</strong>
            </p>
        </div>
    </article>
</section>