<p>editar-categorias works!</p>

<a href="category" class="btn btn-primary" role="button" aria-pressed="true">Volver</a>

<ng-container >

    <div class="container">

        <div class="card">
            <div class="card-header"><h4>Editar Categorias</h4></div>
            <form [formGroup] = "formularioDeCategorias" (ngSubmit)= "actualizarDatos()" ngNativeValidate>
                <div class="card-body">
                    <div class="form-group">
                        <label >Nombre de la categoria</label>
                        <input class="form-control" placeholder="Categoria" formControlName = "categoryName" required>
                        <div *ngFor="let er of err.categoryName">  
                            <div class="text text-danger" *ngIf="(categoryName.errors?.['required'] || 
                                categoryName.errors?.['minlength']) && categoryName.touched">
                            {{er.mensaje}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label >Descripción</label>
                        <input class="form-control" placeholder="Descripción" formControlName = "description" required>
                        <div *ngFor="let er of err.description">  
                            <div class="text text-danger" *ngIf="(description.errors?.['required'] || 
                            description.errors?.['minlength']) && description.touched">
                            {{er.mensaje}}
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <label >foto</label>
                        <input class="form-control" placeholder="ruta foto" formControlName="picture" >
                     </div>
                </div>
                <div class="card-footer">
                    <button type="submit"[disabled]="formularioDeCategorias.invalid" class="btn btn-primary">Guardar</button>
                </div>
            </form>
          </div>
    </div>

</ng-container>
