<div class="card px-4 py-3 mb-0">
    <h5>Datos de Sesión</h5>
    <p>
        Puedes llamar desde <u>cualquier lugar de la aplicación</u> el servicio de escucha de tu sesión y modificarlos
        en tiempo de ejecución.
    </p>
    <div class="my-auto" *ngIf="profile | async as user">
        <pre class="mb-0">
            {{ user | json }}
        </pre>
    </div>
    <div>
        <p *ngIf="(profile | async)?.modified">
            Bueno, <strong>perdiste tu sesión</strong>...
            <br>
            No worries. Sólo basta con refrescar la página para refrescarla nuevamente.
        </p>
        <button class="btn btn-primary" (click)="modifySession()"> Modificar en tiempo real </button>
    </div>
</div>