<p>clientes works!</p>
<a class="btn btn-primary" routerLink="registrar">Nuevo Cliente</a>
<div class="card" >
    <div class="card-header"><H3>Clientes</H3></div>
    <table class="table table-responsive table-border">
        <thead >
            <tr>
                <th>id</th>
                <th>CompanyName</th>
                <th>contactName</th>
                <th>contactTitle</th>
                <th>address</th>
                <th>city</th>
                <th>region</th>
                <th>country</th>
                <th>PostalCode</th>
                <th>fax</th>
                <th>phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clientes">
                <td>{{client.customerID}}</td>
                <td>{{client.companyName}}</td>
                <td>{{client.contactName}}</td>
                <td>{{client.contactTitle}}</td>
                <td>{{client.address}}</td>
                <td>{{client.city}}</td>
                <td>{{client.region}}</td>
                <td>{{client.country}}</td>
                <td>{{client.postalCode}}</td>
                <td>{{client.fax}}</td>
                <td>{{client.phone}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a routerLink="editar/{{client.customerID}}" class="btn btn-warning">Editar</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-danger" (click)='borrarCliente(client.customerID)'>Borrar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>