<div class="container">

    <a class="btn btn-info" routerLink="registrar">Nueva Categorias</a><br><br>
    <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Imgen</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of Categoria; let iControl=index;">
            <th scope="row">{{categoria.categoryID}}</th>
            <td >{{categoria.categoryName}}</td>
            <td>{{categoria.description}}</td>
            <td>{{categoria.picture}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a routerLink="editar/{{categoria.categoryID}}" class="btn btn-warning">Editar</a>
              </div>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-danger" (click)='borrarCategoria(categoria.categoryID, iControl)'>Borrar</a>
              </div>
            </td>
          </tr>

        </tbody>
    </table>


</div>

<!-- <br> <br>
<ngx-datatable class="material" 
  [rows]="Categoria"
  [columns]="columns" >
  <ngx-datatable-column prop="categoryID" ></ngx-datatable-column>
  <ngx-datatable-column prop="categoryName"></ngx-datatable-column>
  <ngx-datatable-column prop="description" style="min-height: max-content;"></ngx-datatable-column>
  <ngx-datatable-column name="Acciones">
    <ng-template let-row="row" ngx-datatable-cell-template class="boton" >
      <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-warning" >Editar</button>
      <button class="btn btn-danger" >Eliminar</button>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<br> -->