<app-header
  [imgUrl]="imgUrl"
  [user]="user"
  [notifications]="notificaciones"
  [messages]="mensajes"
  [appLogo]="appLogo"
></app-header>
<div class="app-body">
  <app-sidebar *ngIf="haveMenu"></app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="cil-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="cil-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="cil-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-aside [messages]="mensajes"></app-aside>
</div>
<app-footer></app-footer>
