<a href="category" class="btn btn-primary" role="button" aria-pressed="true">Volver</a>

<ng-container >

    <div class="container">

        <div class="card">

            <div class="card-header"><h4>Registrar Categorias</h4></div>

            <form [formGroup] = "formularioDeCategorias" id="regForm"  (ngSubmit) = "enviarDatos()" ngNativeValidate>
                <div class="card-body">

                    <div class="form-group">
                        <label >Nombre de la categoria</label>
                        <input required type="text" class="form-control" placeholder="Categoria" formControlName = "categoryName">
                        <div *ngFor="let er of err.categoryName">  
                            <div class="text text-danger" *ngIf="(categoryName.errors?.['required'] || 
                                categoryName.errors?.['minlength']) && categoryName.touched">
                            {{er.mensaje}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label >Descripción</label>
                        <input required type="text" class="form-control" placeholder="Descripción" formControlName = "description" >
                        <div *ngFor="let er of err.description">  
                            <div class="text text-danger" *ngIf="(description.errors?.['required'] || 
                            description.errors?.['minlength']) && description.touched">
                              {{er.mensaje}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label >Fotografía</label>
                        <input class="form-control" formControlName="picture" id="foto" 
                        accept="image/png,image/jpeg" type="file"  >
                    </div>
                    <!-- <img [src]="archivos" >s -->
                </div>
                <div class="card-footer">
                    <button type="submit" [disabled]="formularioDeCategorias.invalid" 
                        class="btn btn-primary">Guardar</button>
                </div>
            </form>
          </div>
    </div>

</ng-container>
<!-- 
<script>
    const $form = document.querySelector('#regForm');
    
    const image = document.querySelector('#image');
    function renderImg(formData){
    
        const file = formData.get('foto');
        const img = URL.createObjectURL(file);
        image.setAttribute('src', img);

    }

    $form.addEventListener('submit',(event) =>{
        const fomrData = new FormData(event.currentTarget);

    });
</script> -->
