<a routerLink="/suppliers" class="btn btn-primary">Regresar</a>

<div class="card">
    <div class="card-header"><h4 >Nuevo Proveedor</h4></div>
    <div class="card card-body">
        <form [formGroup]="suppliers"  (ngSubmit)="guardar()" ngNativeValidate>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Company Name</label>
                    <input type="text" class="form-control"placeholder="Company Name" 
                        formControlName="companyName" required>
                        <div *ngFor="let e of err.company" maxlength="40">
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('companyName').errors?.['required'] || suppliers.get('companyName').errors?.['minlength']) 
                                    && suppliers.get('companyName').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Contact Name</label>
                    <input type="text" class="form-control" placeholder="contact Name"
                        formControlName="contactName"required maxlength="40">
                        <div *ngFor="let e of err.company">
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('contactName').errors?.['required'] || suppliers.get('contactName').errors?.['minlength']) 
                                    && suppliers.get('contactName').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Contact title</label>
                    <input type="text" class="form-control" placeholder="contact title"
                        formControlName="contactTitle"required maxlength="40">
                        <div *ngFor="let e of err.company">
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('contactTitle').errors?.['required'] || suppliers.get('contactTitle').errors?.['minlength']) 
                                    && suppliers.get('contactTitle').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control"  placeholder="Address"
                        formControlName = "address" required maxlength="60">
                        <div *ngFor="let e of err.address">
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('address').errors?.['required'] || suppliers.get('address').errors?.['minlength']) 
                                    && suppliers.get('address').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputAddress2">Country</label>
                    <input type="text" class="form-control"  placeholder="Country"
                        formControlName = "country"required>
                        <div *ngFor="let e of err.country">
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('country').errors?.['required'] || suppliers.get('country').errors?.['minlength']) 
                                    && suppliers.get('country').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" placeholder="city"
                        formControlName = "city" required>
                        <div *ngFor="let e of err.country">
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('city').errors?.['required'] || suppliers.get('city').errors?.['minlength']) 
                                    && suppliers.get('city').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-3">
                    <label for="inputCity">Region</label>
                    <input type="text" class="form-control" placeholder="Region"
                        formControlName = "region" required maxlength="40">
                        <div *ngFor="let e of err.country">
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('region').errors?.['required'] || suppliers.get('region').errors?.['minlength']) 
                                    && suppliers.get('region').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="inputZip">PostalCode</label>
                    <input type="text" class="form-control" placeholder="Postal Code"
                        formControlName = "postalCode" required maxlength="5" [pattern]="numberPattern">
                        <div *ngFor="let e of err.postal" >
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('postalCode').errors?.['required'] || suppliers.get('postalCode').errors?.['pattern']) 
                                    && suppliers.get('postalCode').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Phone</label>
                    <input type="text" class="form-control" placeholder="Phone"
                        formControlName = "phone" required maxlength="10" [pattern]="numberPattern">
                        <div *ngFor="let e of err.postal" >
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('phone').errors?.['required'] || suppliers.get('phone').errors?.['pattern']) 
                                    && suppliers.get('phone').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Fax</label>
                    <input type="text" class="form-control" placeholder="Fax" 
                        formControlName = "fax" required maxlength="5" [pattern]="numberPattern">
                        <div *ngFor="let e of err.postal">
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('fax').errors?.['required'] || suppliers.get('fax').errors?.['pattern']) 
                                    && suppliers.get('fax').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">HomePage </label>
                    <input type="text" class="form-control" placeholder="HomePage"
                        formControlName = "homePage" required>
                        <div *ngFor="let e of err.postal">
                            <label
                              class="text text-danger"
                              *ngIf="(suppliers.get('homePage').errors?.['required'] || suppliers.get('homePage').errors?.['minlength']) 
                                    && suppliers.get('homePage').touched"
                            >
                              {{ e.mensaje }}
                            </label>
                        </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="suppliers.invalid">Save</button>
        </form>

    </div>
</div>





