<p>editar-employees works!</p>




<div class="card" >
    <div class="card-header">
        <H4>Registrar Empleados</H4>
    </div>
   <div class="card-body">
        <form (ngSubmit)= "editarEmployee()" [formGroup] ="editEmpleados" ngNativeValidate autocomplete="off">
            <div class="form-row">
            <div class="form-group col-md-6">
                <label >First name</label>
                <input type="text" class="form-control" placeholder="First name" required formControlName ="firstName">
                <label class="text text-danger" *ngIf="editEmpleados.get('firstName').errors?.['required']
                 && editEmpleados.get('firstName').touched">
                    *Obligatorio
                </label>
            </div>
            <div class="form-group col-md-6">
                <label>Last name</label>
                <input type="text" class="form-control" placeholder="Last name"required  formControlName ="lastName">
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Address</label>
                    <input type="text" class="form-control" placeholder="Address"required formControlName ="address">
                </div>
                <div class="form-group col-md-6">
                    <label>Country</label>
                    <input type="text" class="form-control" placeholder="Country"required formControlName ="country">
                </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" placeholder="City"required formControlName ="city">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Region</label>
                <input type="text" class="form-control"placeholder="Region" required formControlName ="region">
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">postalCode</label>
                <input type="text" class="form-control"required placeholder="Zip Code" required formControlName ="postalCode">
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputCity">HomePhone</label>
                    <input type="tel" class="form-control" placeholder="HomePhone" required formControlName ="homePhone">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputState">Extension</label>
                    <input type="tel" class="form-control"placeholder="Extension" required formControlName ="extension">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">BirthDate</label>
                    <input type="date" class="form-control" required formControlName ="birthDate">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">HireDate</label>
                    <input type="date" class="form-control" required formControlName ="hireDate">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputCity">Title</label>
                    <input type="text" class="form-control" placeholder="Title" formControlName ="title">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputState">Title Of Courtesy</label>
                    <input type="text" class="form-control"placeholder="Title Of Courtesy" required formControlName ="titleOfCourtesy">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Notes</label>
                    <input type="text" class="form-control"  placeholder="Notes" formControlName ="notes" required>
                </div>
                <div class="form-group col-md-3">
                    <label >ReportsTo</label>
                    <select formControlName="reportsTo" class="form-control" >
                        
                        <option selected value="">None</option>
                        <option *ngFor="let s of select" value="{{s.employeeID}}">{{s.firstName +" "+ s.lastName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md">
                    <label for="inputState">Photo</label>
                    <input type="file" class="form-control" accept="image/png,image/jpeg"  formControlName ="photo" >
                </div>
            
            </div>

            <button type="submit" class="btn btn-primary">Save Employee</button>
        </form>
   </div>
  </div>