

<div class="card">
  <div class="card-header"> <h2>Registrar Pedido</h2></div>

    <div class="card-body">

      <form [formGroup]="productos" (ngSubmit)="enviarPedido()" ngNativeValidate>

        <fieldset disabled>
            <div class="form-row">
                <div class="form-group col-md-4" >
                  <label >Product Name</label>
                  <input type="text" class="form-control" placeholder="productName" 
                    formControlName ="productName" >
                </div>
      
                <div class="form-group col-md-2">
                  <label >unitPrice</label>
                  <input type="text" class="form-control" placeholder="unitPrice"  maxlength="10"
                    formControlName ="unitPrice" >
                </div>
      
                <div class="form-group col-md-2">
                  <label >Stock</label>
                  <input type="text" class="form-control" placeholder="unitsInStock" formControlName="unitsInStock" >
                </div>
                <div class="form-group col-md-3">
                  <label >QuantityPerUnit</label>
                  <input type="text" class="form-control" placeholder="QuantityPerUnit" formControlName="quantityPerUnit" >
                </div>
              </div>
        </fieldset>
        <div class="form-row">
            <div class="form-group col-md-4" >
              <label >Reorder Level</label>
              <input type="text" class="form-control" placeholder="Reorder Level" 
                formControlName ="reorderLevel" min="1" maxlength="3">

                <label
                class="text text-danger"
                *ngIf="(productos.get('reorderLevel').errors?.['required'] || productos.get('reorderLevel').errors?.['pattern']) 
                      && (productos.get('reorderLevel').touched || productos.get('reorderLevel').dirty)">

               <div  *ngIf="productos.get('reorderLevel').errors?.['required']">Campo Requerido</div> 
                <div *ngIf="productos.get('reorderLevel').errors?.['pattern']">Solo se admiten números</div> 
              </label>
            </div>
  
            <div class="form-group col-md-2">
              <label >Proveedor</label>
              <input type="text" class="form-control" placeholder="unitsInStock" formControlName="proveedores" >
            </div>
        </div>          
        <button type="submit" [disabled]="productos.invalid"
          class="btn btn-primary">Registrar pedido</button>
      </form>
    </div>
</div>

 
