
<a routerLink="registrar" class="btn btn-primary">registrar</a>

<div class="card">
    <div class="card-header"><h3>Registrar Proveedores</h3></div>
    <table class="table table-bordered table-responsive">
        <thead >
            <tr>
                <th>id</th>
                <th>Company Name</th>
                <th>contac Name</th>
                <th>contactTitle</th>
                <th>addrees</th>
                <th>city</th>
                <th>country</th>
                <th>region</th>
                <th>postalCode</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Home Page</th>
                <th>Actions</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let s of Suppliers">
                <td>{{s.supplierId}}</td>
                <td>{{s.companyName}}</td>
                <td>{{s.contactName}}</td>
                <td>{{s.contactTitle}}</td>
                <td>{{s.address}}</td>
                <td>{{s.city}}</td>
                <td>{{s.region}}</td>
                <td>{{s.country}}</td>
                <td>{{s.postalCode}}</td>
                <td>{{s.phone}}</td>
                <td>{{s.fax}}</td>
                <td>{{s.homePage}}</td>
                <td> 
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a routerLink="editar/{{s.supplierId}}" class="btn btn-warning">Editar</a>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-danger" (click)='borrarProveedor(s.supplierId)'>Borrar</a>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
    

</div>
