<p>employees works!</p>
<div>
    <a class="btn btn-success" routerLink="registrar">New Employee</a>
</div>

<div class="card">
    <div class="card-header">
     <h4>Employees</h4>
    </div>
    <ul class="list-group list-group-flush">
        <div class="table-responsive">
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Firts name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Country</th>
                        <th scope="col">Region</th>
                        <th scope="col">City</th>
                        <th scope="col">Postal Code</th>
                        <th scope="col">HomePhone</th>
                        <th scope="col">Extension</th>
                        <th scope="col">BirthDate</th>
                        <th scope="col">HireDate</th>
                        <th scope="col">ReportsTo</th>
                        <th scope="col">Title</th>
                        <th scope="col">Title Of Courtesy</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Actions</th>
        
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let employee of Employees; ">
                    <td >{{employee.employeeID}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.address}}</td>
                    <td>{{employee.country}}</td>
                    <td>{{employee.region}}</td>
                    <td>{{employee.city}}</td>
                    <td>{{employee.postalCode}}</td>
                    <td>{{employee.homePhone}}</td>
                    <td>{{employee.extension}}</td>
                    <td>{{employee.birthDate}}</td>
                    <td>{{employee.hireDate}}</td>
                    <td *ngIf="employee.reportsTo ==null"> **********</td>
                    <td *ngIf="employee.reportsTo !=null"> {{employee.reportsTo}}</td>
                    <td>{{employee.title}}</td>
                    <td>{{employee.titleOfCourtesy}}</td>
                    <td>{{employee.notes}}</td>
                    <td>{{employee.photo}}</td>
                    <td> 
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a routerLink="editar/{{employee.employeeID}}" class="btn btn-warning">Editar</a>
                          </div>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-danger" (click)='borrarEmpleado(employee.employeeID)'>Borrar</a>
                          </div>
                    </td>
                </tr>
        
                </tbody>
            </table>
        </div>
    </ul>
  </div>
