<section>
    <h4 class="mb-4">Funcionales de la plantilla</h4>
    <article id="coppelExamples" class="mb-4">
        <app-example-session></app-example-session>
        <app-example-storage></app-example-storage>
        <app-example-toaster></app-example-toaster>
        <app-example-loader></app-example-loader>
        <app-example-filter></app-example-filter>
    </article>
    <h4 class="mb-4">
        Otros ejemplos funcionales te esperan...
        <a target="_blank" rel="noreferrer" href="https://sites.google.com/coppel.com/developers/frameworks/webclient/componentes?authuser=0">
            consúltalos aquí
        </a>
    </h4>
</section>