<div class="card px-4 py-3 mb-0">
    <h5>Filter pipes</h5>
    <p>
        Puedes filtrar información <u>en tiempo al cambio</u> por medio la propiedad de un objeto.
    </p>
    <div class="my-auto" id="example">
        <div>
            <!-- Todas las tareas -->
            <span class="text-primary">Todas las tareas</span>
            <pre class="mb-0">
                {{ tasks | json }}
            </pre>
        </div>
        <div *ngIf="tasks">
            <!-- Filtro 1 -->
            <span class="text-primary">Filtro básico <em>Status: To Do</em></span>
            <pre>{{ tasks | filterByProp: 'status' : 'To Do' | json }}</pre>
            <!-- Filtro 2 -->
            <span class="text-primary">Filtro con variable <em>Status: Done</em></span>
            <pre>{{ tasks | filterByProp: 'status' : statusFilter | json }}</pre>
            <!-- Filtro 3 -->
            <span class="text-primary">Filtro en ngFor <em>Status: Doing</em></span>
            <li *ngFor="let task of tasks | filterByProp: 'status' : 'Doing'">
                {{ task.task }}
            </li>
            <!-- Filtro 4 -->
            <span class="text-primary">Filtro Subprop Asignee <em>Name: Jhon</em></span>
            <li *ngFor="let task of tasks | filterBySubProps: ['asignee'] : ['name'] : 'Jhon'">
                {{ task.task }}
            </li>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" (click)="fillRandomTasks()">Modificar objeto</button>
    </div>
</div>