.contenedor {
  background-color: #f5fbff;
}
// Figuras
.elipse1 {
  position: fixed;
  z-index: 0;
  width: 740px;
  height: 740px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #3098f3;
  left: -200px;
  top: -215px;
}

.elipseB {
  position: fixed;
  z-index: 1;
  top: 55%;
  left: 5%;
  width: 17px;
  height: 17px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
}

.elipseAC {
  position: fixed;
  z-index: 3;
  top: 30%;
  left: 29%;
  width: 28px;
  height: 28px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffd02b;
}

.elipseAG {
  position: fixed;
  z-index: 0;
  top: 75%;
  left: 65%;
  width: 130px;
  height: 130px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffd02b;
}

.elipseCA {
  position: fixed;
  z-index: 0;
  top: 20%;
  left: 85%;
  width: 47px;
  height: 47px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #016eb9;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  // top: 10%;
  // display: flex;
  // align-items: center;
  width: 40%;
  height: fit-content;
  border-radius: 40px;
  box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
}

//Estilos del primer formulario
.form1 img {
  width: 200.52px;
  height: 40px;
  margin-top: 5%;
  // margin-bottom: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form1 h1 {
  width: 75%;
  margin-top: 8%;
  margin-bottom: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 38px;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.form1 h1 span {
  color: #3098f3;
}

.form1 .buttonG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 20px;
  width: 70%;
  height: 51px;
}

.form1 .buttonC {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 20px;
  width: 70%;
  height: 51px;
}

.form1 .registrar {
  margin-top: 5%;
  text-align: center !important;
  // margin-top: 20px;
  // margin-left: 26%;
}

//Empieza el formulario de inicoo de sesion de colaborador
.form2 h2 {
  //   height: 3%;
  width: 310px;
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}

.form2 .text-muted {
  //   margin-top: 1%;
  text-align: center;
  //   margin-bottom: 8%;
}

.form2 .colaborador {
  margin-top: 5%;
  text-align: center;
}

.form2 .usuario {
  border-radius: 16px;
  width: 300px;
  height: 48px;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form2 .contrase {
  //   margin-top: 10%;
  // margin-bottom: 10px;
  text-align: center;
}

.form2 .contrase a {
  margin-left: 10%;
}

.form2 .pass {
  border-radius: 16px;
  width: 300px;
  height: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form2 .b-ingresar {
  width: 300px;
  height: 48px;
  margin: 0px auto 6px auto;
  border-radius: 20px;
  display: block;
}

.form2 .huella {
  max-width: 300px;
  margin: auto;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

//Medidas para moviles
@media (min-width: 300px) and (max-width: 480px) {
  .contenedor {
    background-color: #ffffff;
  }
  // Figuras
  .elipse1 {
    position: fixed;
    z-index: 1;
    width: 195px;
    height: 195px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #3098f3;
    left: -97px;
    top: -97px;
  }

  .elipseAC {
    position: fixed;
    z-index: 3;
    top: 30%;
    left: 90%;
    width: 24px;
    height: 24px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffd02b;
  }

  .elipseAG {
    position: fixed;
    z-index: 1;
    top: 85%;
    left: -6%;
    width: 67px;
    height: 67px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffd02b;
  }

  .elipseCA {
    position: fixed;
    z-index: 1;
    top: 90%;
    left: 85%;
    width: 128px;
    height: 128px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #016eb9;
  }

  .card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // top: 10%;
    // display: flex;
    // align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 40px;
    box-shadow: 0px 23px 44px rgb(255, 255, 255);
  }

  //Estilos del primer formulario
  .form1 img {
    width: 200.52px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form1 h1 {
    height: 128px;
    width: 300px;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 39px;
    box-shadow: rgba(0, 0, 0, 0.25);
  }

  .form1 h1 span {
    color: #3098f3;
  }

  .form1 .buttonG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 20px;
    width: 90%;
    height: 51px;
  }

  .form1 .buttonC {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 20px;
    width: 90%;
    height: 51px;
  }

  .form1 .registrar {
    margin-top: 10%;
    text-align: center !important;
    // margin-top: 20px;
    // margin-left: 26%;
  }

  //Empieza el formulario de inicoo de sesion de colaborador
  .form2 h2 {
    height: 38px;
    width: 310px;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
  }

  .form2 .text-muted {
    margin-top: 15%;
    text-align: center;
    margin-bottom: 8%;
  }

  .form2 .colaborador {
    margin-top: 10%;
    text-align: center;
  }

  .form2 .usuario {
    border-radius: 16px;
    width: 85%;
    height: 48px;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form2 .contrase {
    margin-top: 10%;
    // margin-bottom: 10px;
    text-align: center;
  }

  .form2 .contrase a {
    margin-left: 10%;
  }

  .form2 .pass {
    border-radius: 16px;
    width: 85%;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form2 .b-ingresar {
    width: 75%;
    height: 48px;
    margin: 0px auto 6px auto;
    border-radius: 20px;
    display: block;
  }
}

// Medidas para tablet
@media (min-width: 480px) and (max-width: 769px) {
  .contenedor {
    background-color: #f5fbff;
  }
  // Figuras
  .elipse1 {
    position: fixed;
    z-index: 0;
    width: 700px;
    height: 700px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #3098f3;
    left: -301.5px;
    top: -228.5px;
  }

  .elipseAC {
    position: fixed;
    z-index: 3;
    top: 30%;
    left: 5%;
    width: 38px;
    height: 38px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffd02b;
  }

  .elipseAG {
    position: fixed;
    z-index: 0;
    top: 80%;
    left: 80%;
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffd02b;
  }

  .elipseCA {
    position: fixed;
    z-index: 0;
    top: 20%;
    left: 95%;
    width: 57px;
    height: 57px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #016eb9;
  }

  .card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // top: 10%;
    // display: flex;
    // align-items: center;
    width: 60%;
    height: 85%;
    border-radius: 40px;
    box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
  }

  //Estilos del primer formulario
  .form1 img {
    width: 200.52px;
    height: 40px;
    margin-top: 10%;
    // margin-bottom: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form1 h1 {
    height: 85px;
    width: 80%;
    margin-top: 8%;
    margin-bottom: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    box-shadow: rgba(0, 0, 0, 0.25);
  }

  .form1 h1 span {
    color: #3098f3;
  }

  .form1 .buttonG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 10%;
    border-radius: 20px;
    width: 80%;
    height: 61px;
  }

  .form1 .buttonC {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 20px;
    width: 80%;
    height: 61px;
  }

  .form1 .registrar {
    margin-top: 5%;
    text-align: center !important;
    // margin-top: 20px;
    // margin-left: 26%;
  }

  //Empieza el formulario de inicoo de sesion de colaborador
  .form2 h2 {
    height: 38px;
    width: 300px;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }

  .form2 .text-muted {
    margin-top: 15%;
    text-align: center;
    // margin-bottom: 8%;
  }

  .form2 .colaborador {
    margin-top: 10%;
    text-align: center;
  }

  .form2 .usuario {
    border-radius: 16px;
    width: 80%;
    height: 48px;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form2 .contrase {
    // margin-top: 10%;
    // margin-bottom: 10px;
    text-align: center;
  }

  .form2 .contrase a {
    margin-left: 10%;
  }

  .form2 .pass {
    border-radius: 16px;
    width: 80%;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form2 .b-ingresar {
    width: 75%;
    height: 48px;
    margin-top: 21px;
    border-radius: 20px;
    display: block;
  }
}

//Medidas para tablets mas grandes
@media (min-width: 769px) and (max-width: 1024px) {
  .contenedor {
    background-color: #f5fbff;
  }
  // Figuras
  .elipse1 {
    position: fixed;
    z-index: 0;
    width: 700px;
    height: 700px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #3098f3;
    left: -301.5px;
    top: -228.5px;
  }

  .elipseAC {
    position: fixed;
    z-index: 3;
    top: 30%;
    left: 18%;
    width: 38px;
    height: 38px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffd02b;
  }

  .elipseAG {
    position: fixed;
    z-index: 0;
    top: 80%;
    left: 80%;
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffd02b;
  }

  .elipseCA {
    position: fixed;
    z-index: 0;
    top: 20%;
    left: 95%;
    width: 57px;
    height: 57px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #016eb9;
  }

  .card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // top: 10%;
    // display: flex;
    // align-items: center;
    width: 60%;
    height: 85%;
    border-radius: 40px;
    box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
  }

  //Estilos del primer formulario
  .form1 img {
    width: 270.52px;
    height: 53px;
    margin-top: 10%;
    // margin-bottom: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form1 h1 {
    height: 85px;
    width: 80%;
    margin-top: 8%;
    margin-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    box-shadow: rgba(0, 0, 0, 0.25);
  }

  .form1 h1 span {
    color: #3098f3;
  }

  .form1 .buttonG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 10%;
    border-radius: 20px;
    width: 80%;
    height: 61px;
  }

  .form1 .buttonC {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 20px;
    width: 80%;
    height: 61px;
  }

  .form1 .registrar {
    margin-top: 5%;
    text-align: center !important;
    // margin-top: 20px;
    // margin-left: 26%;
  }

  //Empieza el formulario de inicoo de sesion de colaborador
  .form2 h2 {
    height: 5%;
    width: 300px;
    margin-top: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
  }

  .form2 .text-muted {
    // margin-top: 5%;
    text-align: center;
    // margin-bottom: 8%;
  }

  .form2 .colaborador {
    margin-top: 10%;
    text-align: center;
  }

  .form2 .usuario {
    border-radius: 16px;
    width: 300px;
    height: 48px;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form2 .contrase {
    // margin-top: 10%;
    // margin-bottom: 10px;
    text-align: center;
  }

  .form2 .contrase a {
    margin-left: 10%;
  }

  .form2 .pass {
    border-radius: 16px;
    width: 300px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form2 .b-ingresar {
    width: 300px;
    height: 48px;
    margin: 0px auto 6px auto;
    border-radius: 20px;
    display: block;
  }
}
