/*!
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.6
 * @link http://coreui.io
 * Copyright (c) 2017 creativeLabs Łukasz Holeczek
 * @license MIT
 */

html {
  font-size: 14px;
}

// Import Core Ui Icons
// @import './material-variables';

// Import Core Ui Icons
@import './../../node_modules/@coreui/icons/css/all.min.css';

// Override Boostrap variables
@import 'bootstrap-variables';

// Import Bootstrap source files
@import './../../node_modules/bootstrap/scss/bootstrap';

// Import core styles
@import 'core/core';

// Custom styles
@import 'custom';
//datatables
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/themes/dark.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
