<div class="toaster" [class.show]="show" [ngClass]="type">
    <header>
        <span class="tag">
            {{type}}
        </span>
        <span class="close" (click)="show=false">
            ✖
        </span>
    </header>
    <article>
        <h5 *ngIf="title">{{title}}</h5>
        <div [innerHTML]="body"></div>
    </article>
</div>