<div class="card px-4 py-3 mb-0">
    <h5>Secure LocalStorage</h5>
    <p>
        Puedes llamar desde <u>cualquier lugar de la aplicación</u> el servicio de mensajes a usuario en sus 4 variantes.
    </p>
    <div class="my-auto">
        <button class="btn btn-danger" (click)="toastMessage('Error')"> Error </button>
        <button class="btn btn-warning" (click)="toastMessage('Warn')"> Warn </button>
        <button class="btn btn-info" (click)="toastMessage('Info')"> Info </button>
        <button class="btn btn-success" (click)="toastMessage('Approval')"> Approval </button>
        <button class="btn btn-light" (click)="toastMessage('Mesage')"> Mesage </button>
    </div>
    <div>
        No podrás enviar un mensaje nuevo hasta cerrar el anterior.
        <br>
        Esto evitará un bucle de envío de mensajes si llegara a ocurrir un error iterativo.
    </div>
</div>