<div class="card">
  <div class="card-header"> <h2>Registrar Producto</h2></div>

    <div class="card-body">

      <form [formGroup]="formProductos" (ngSubmit)="guardarProducto()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label >Product Name</label>
            <input type="text" class="form-control" placeholder="productName" formControlName ="productName" required>
            <div *ngFor="let e of err.name">
              <label
                class="text text-danger"
                *ngIf="(formProductos.get('productName').errors?.['required'] || formProductos.get('productName').errors?.['minlength']) 
                      && formProductos.get('productName').touched"
              >
                {{ e.mensaje }}
              </label>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label >unitPrice</label>
            <input type="text" class="form-control" placeholder="unitPrice" formControlName ="unitPrice" required>
            <div *ngFor="let e of err.units">
              <label
                class="text text-danger"
                *ngIf="(formProductos.get('unitPrice').errors?.['required'] || formProductos.get('unitPrice').errors?.['pattern']) 
                      && (formProductos.get('unitPrice').touched || formProductos.get('unitPrice').dirty) " >
                {{ e.mensaje }}
              </label>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label >Stock</label>
            <input type="text" class="form-control" placeholder="unitsInStock" formControlName="unitsInStock" required>
            <div *ngFor="let e of err.units">
              <label
                class="text text-danger"
                *ngIf="(formProductos.get('unitsInStock').errors?.['required'] || formProductos.get('unitsInStock').errors?.['pattern']) 
                      && (formProductos.get('unitsInStock').touched || formProductos.get('unitsInStock').dirty) ">
                {{ e.mensaje }}
              </label>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label >QuantityPerUnit</label>
            <input type="text" class="form-control" placeholder="QuantityPerUnit" formControlName="quantityPerUnit" required>
            <div *ngFor="let e of err.name">
              <label
                class="text text-danger"
                *ngIf="(formProductos.get('quantityPerUnit').errors?.['required'] || formProductos.get('quantityPerUnit').errors?.['minlength']) 
                      && formProductos.get('quantityPerUnit').touched"
              >
                {{ e.mensaje }}
              </label>
            </div>
          </div>
        </div>

        <div class="form-row">

          <div class="form-group col-md-3">
            <label> Category select</label>
            <select class="form-control" formControlName="categorias" required>
              <option selected>Select one</option>
              <option  *ngFor="let c of categorias" value="{{c.categoryID}}"> 
                {{c.categoryName}}
              </option>
            </select>

            <div *ngFor="let e of err.fk">
              <label
                class="text text-danger"
                *ngIf="formProductos.get('categorias').errors?.['invalid']  
                      && (formProductos.get('categorias').touched ||  formProductos.get('categorias').dirty)"
              >
                {{ e.mensaje }}
              </label>
            </div>
          </div>

          <div class="form-group col-md-3">

            <label> Category select</label>
            <select class="form-control" formControlName="proveedores" required>
              <option selected>Select one</option>
              <option  *ngFor="let p of proveedores" value="{{p.supplierId}}"> 
                {{p.companyName}}
              </option>
            </select>
            <div *ngFor="let e of err.fk">
              <label
                class="text text-danger"
                *ngIf="formProductos.get('proveedores').errors?.['invalid']  
                      && (formProductos.get('proveedores').touched ||  formProductos.get('proveedores').dirty)"
              >
                {{ e.mensaje }}
              </label>
            </div>
          </div>
          <div class="form-group col-md-3">
            <fieldset disabled>
              <label class="form-check-label">Descontinuado</label>
              <div class="form-check" style="height: 1.5rem;">
                <input class="form-check-input" type="checkbox"  formControlName="discontinued" style="height: 1.5rem;" >
              </div>
            </fieldset>
          </div>

        </div>
          
        <button type="submit" [disabled]="formProductos.invalid"
          class="btn btn-primary">Registrar Producto</button>
      </form>

    </div>
</div>