<div class="card px-4 py-3 mb-0">
    <h5>Secure LocalStorage</h5>
    <p>
        Puedes llamar desde <u>cualquier lugar de la aplicación</u> el servicio de almacenado seguro de datos.
        Todos los datos en storage deben guardarse encriptados.
    </p>
    <div class="my-auto" *ngIf="storage">
        <pre class="mb-0">
            {{ storage | json }}
        </pre>
    </div>
    <div>
        <button class="btn btn-primary" (click)="setSecureStorageTest()">Agregar test en storage</button>
    </div>
</div>